body {
    margin: 0;
    border: 0;
    font-family: sans-serif;
}

.flex-container {
    display: flex;
    flex-direction: column;
    background-color: thistle;
    border: 1px solid black;
    padding: 10px;
    gap: 4px;
    height: 97vh;
}

.flex-container > div {
    background: blanchedalmond;
    border: 4px solid black;
    flex: auto;
}

#zero {
    flex: 0.2 1 auto;
    height: 1px;
    background-color: white;
}

#one {
    flex: 0.8 1 auto;
    height: 1px;
    background-color: white;
}

#two {
    flex: 2 1 auto;
    height: 1px;
    background-color: white;
}
